@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --ff-Fredoka: 'Fredoka', sans-serif;
    --ff-Hind: 'Hind Madurai', sans-serif;
    --ff-Roboto: 'Roboto', sans-serif;

    --color-primary: #fff;
    --color-secondary: #000;
    --color-pinc: #F98AAB;
    --color-rasberg: #D64374;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

input {
    font: inherit;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    font-family: var(--ff-Roboto);
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-primary);
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #F2CEDA30;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 170px;
}

.menu {
    display: flex;
    gap: 40px;
}

.item {
    color: #150101;
    font-size: 14px;
    transition: .3s linear;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    transition: .3s linear;
    color: #D23166;
}

.red-link{
    border-radius: 5px;
    background: #D23166;
    display: block;
    text-align: center;
    font-family: var(--ff-Hind);
    padding: 14px 0;
}

.header-link {
    width: 165px;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 700;
}